$contentHeight: 319px;

.modal-custom {
  min-width: 540px;
}

.content {
  .left {
    width: 225px;
    height: $contentHeight;
    float: left;
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .right {
    width: 540px - 225px - 2px;
    height: $contentHeight;
    color: #b2b2b2;
    float: right;
    background: #ffffff;

    .header {
      min-height: 16.43px;
      padding: 15px;
      border-bottom: 1px solid #e5e5e5;
      .title {
        font-size: 18px;
        color: #3298cc;
        margin-bottom: 0;
      }
      .close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
        margin-top: -2px;
      }
    }

    .content {
      position: relative;
      padding: 15px;

    }
  }

}

