@import '@Style/base.scss';

.container {
    @extend .rightMain;
    
    padding: 0 0.15rem;
    margin: .2rem auto;
  
    .title {
      margin: {
        bottom: .84rem;
      }
    }
  
    .content {
      width: 100%;
    }

    .list_container{
      @extend .radius;
      margin-top: .1rem;
      padding: .3rem .2rem;
      background-color: white;
    }
  }