@import '@Style/base.scss';

.container {
    @extend .rightMain;
    
    padding: 0 .9375rem /* 15/16 */;
    margin: 1.25rem /* 20/16 */ auto;
  
    .title {
      margin: {
        bottom: 5.25rem /* 84/16 */;
      }
    }
  
    .content {
      width: 100%;
    }

    .list_container{
      @extend .radius;
      margin-top: .625rem /* 10/16 */;
      padding: 1.875rem /* 30/16 */ 1.25rem /* 20/16 */;
      background-color: white;
    }
  }