@import '@Style/base.scss';
.container {
  @extend .rightMain;
  
  padding: 0 .9375rem /* 15/16 */;
  margin: 1.25rem /* 20/16 */ auto;
  background-color: white;

  .title {
    margin: {
      bottom: 5.25rem /* 84/16 */;
    }
  }

  .content {
    width: 100%;
  }
}