$gray-text: #828282;
$black-text: #41464b;
* {
  left: 0;
  top: 0;
}
a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
  transition: all .2s ease-in;
  background-color: transparent;
  word-wrap: break-word;
}