
.footer_absolute{
  position: absolute;;
  bottom: 0;
}
.footer_box {
  padding: 1rem;
  text-align: center;
  line-height: 1.4em;
  width: 280px;
  height: 120px;

  .social_box{
    padding: 1rem;
    text-align: center;
    line-height: 1.4em;

    a {
      margin: 0 .5rem;
      &:hover{
        color: #607d8b;
      }

    }
  }

  .auther{
    margin: .25rem 0;
    font-size: .85rem;
    word-wrap: break-word;
    line-height: 1.8;

    i{
      margin-right: 2px;
      vertical-align: -1px;
    }

    span{
      color: red;
      margin: 0px 2px;
    }
    a{
      border-bottom: 1px dotted #85889b;
      -webkit-transition: color .15s,border-color .15s,opacity .15s;
      transition: color .15s,border-color .15s,opacity .15s;
    }
  }

}
