@import '@Style/base.scss';

.container {
    @extend .rightMain;
    
    padding: 0 .625rem /* 10/16 */;
    margin: 1.25rem /* 20/16 */ auto;
  
    .content {
      @extend .radius;
      padding: 1.25rem /* 20/16 */;
      background-color: white;

      .tagContent{
        display: inline-flex;
        flex-wrap:wrap;
      }
      .tag {
        display: block;
        @include radius-to(.1875rem /* 3/16 */);
        margin: .625rem /* 10/16 */;
        padding: .3125rem /* 5/16 */ .625rem /* 10/16 */;
        background-color: rgba(96,125,139,.05)
      }
    }
  }