@import '@Style/base.scss';
.container{
  position: relative;

  .row{
    color: $gray-text;
    &:before{
      content: "-";
      font-size: .5rem /* 8/16 */;
      opacity: .63;
      transform: translateY(-50%);
    }

    .title{
      font-size: .875rem; /* 14/16 */
      font-weight: bold;
      color: $black-text;
    }
  }
}
