@import '@Style/base.scss';
.container {
  @extend .rightMain;

  .listTable {
    margin: {
      top: 0.2rem;
      bottom: .84rem;
    }
  }

  .footer {
    @extend .bottom;
    width: 100%;
  }
}