@import '@Style/base.scss';
.container {
  @extend .rightMain;

  .listTable {
    margin: {
      top: 1.25rem /* 20/16 */;
      bottom: 5.25rem /* 84/16 */;
    }
  }

  .footer {
    @extend .bottom;
    width: 100%;
  }
}