@import '@Style/base.scss';

.segmentBarItem{
position: relative;
  display: inline-block;
  padding: .9375rem /* 15/16 */ 1.25rem /* 20/16 */;
  .title {
    font-size: 1.125rem /* 18/16 */;
    text-transform: Capitalize;
    font-weight: bold
  }

  .count{
    margin-left: .3125rem /* 5/16 */;
    font-size: 1.25rem /* 20/16 */;
    padding: 0 .1875rem /* 3/16 */;
   border: {
    width: 1px;
    radius: 3px;
    color: $gray-text;
    style:solid
   }
  }

  &::after{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 45%;
    height: .1875rem /* 3/16 */;
    content: "";
    transition: transform .4s;
    transform: scaleY(0);
    transform-origin: bottom center;
  }

  &:hover, &:active, &:focus {
    @extend .selected
  }
}

.container{
  @extend .radius;
  background-color: white;
}

.selected {
  &::after{
    background-color: #607d8b;
    transform: scaleY(1);
  }
}