$gray-text: #828282;
$black-text: #41464b;

$h1-font-size: .32rem;
$h2-font-size: .24rem;
$h3-font-size: .1872rem;
$h4-font-size: .16rem;
$h5-font-size: .1382rem;
$h6-font-size: .12rem;

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

$breakpoints: (
  'xs': 'only screen and ( min-width: 480px)',
  'sm': 'only screen and ( min-width: 768px)',
  'md': 'only screen and ( min-width: 992px)',
  'lg': 'only screen and ( min-width: 1200px)',
  'x-xs': 'only screen and ( max-width: 480px)',
  'x-sm': 'only screen and ( max-width: 768px)',
  'x-md': 'only screen and ( max-width: 992px)',
  'x-lg': 'only screen and ( max-width: 1200px)',
) !default;

@mixin radius-to($radius) {
  border-radius: $radius;
}

@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);
  
  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}

.rightMain{
  @extend .radius;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  max-width: 7.12rem;
  min-width: 3.2rem;
  min-height: 100%;
}

.hoverActive{ 
  &:hover{
    color: #607d8b;
  }
}

.bottom{
  position: absolute;;
  bottom: 0;
}

.bg {
  background-color: #607d8b;
}

.circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.radius{
  @include radius-to(0.08rem);

}