$gray-text: #828282;
$black-text: #41464b;
$main-color: #607d8b;
$bg-color:  #f3f6f7;

$breakpoints: (
  'xs': 'only screen and ( min-width: 480px)',
  'sm': 'only screen and ( min-width: 768px)',
  'md': 'only screen and ( min-width: 992px)',
  'lg': 'only screen and ( min-width: 1200px)',
  'x-xs': 'only screen and ( max-width: 480px)',
  'x-sm': 'only screen and ( max-width: 768px)',
  'x-md': 'only screen and ( max-width: 992px)',
  'x-lg': 'only screen and ( max-width: 1200px)',
) !default;

@mixin radius-to($radius) {
  border-radius: $radius;
}

@mixin respond-to($breakpoint) {
  $query: map-get($breakpoints, $breakpoint);
  
  @if not $query {
    @error 'No value found for `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.';
  }

  @media #{if(type-of($query) == 'string', unquote($query), inspect($query))} {
    @content;
  }
}

.rightMain{
  @extend .radius;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  max-width: 44.5rem /* 712/16 */;
  min-width: 20rem /* 32/16 */;
  min-height: 100%;
}

.hoverActive{ 
  &:hover{
    color: $main-color;
  }
}

.bottom{
  position: absolute;;
  bottom: 0;
}

.bg {
  background-color: $main-color;
}

.circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.radius{
  @include radius-to(.5rem /* 8/16 */);

}