.container {
  position: absolute;
  width: 100%;
  // height: 100%;
  min-height: 100%;
  z-index: 100;
  right: 0;
  display: none;
  background-color: rgba($color: #000000, $alpha: 5.0);
  background-color: white;

  .form{
    padding: 1.25rem .9375rem /* 15/16 */;
    width: 100%;
    height: 100%;
    transform:  translate(100%, 0);

    opacity: 0;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-delay: 0.05s;
    animation-timing-function: ease-in;

    .title{
      height: 2rem /* 32/16 */;
      padding: .3125rem; /* 5/16 */
      overflow: hidden;
      width: 100%;
      font-size: 1.5rem;
      border: none;
      resize: none;
    }
    .img-prev-container{
      margin: 1.25rem /* 20/16 */ auto;
      width: 31.25rem /* 500/16 */;
      height:20.875rem /* 334/16 */ ;
      // border: 1px solid #ccc;
      border-radius: 5px;
      vertical-align: middle;
      // display: table-cell;
      color: #838383;
      text-align: center;

      .prev-img-item{
        position: relative;
        .prev-img{
          width: 100%;
          height: 100%;
        }
        .img-delete{
          position: absolute;
          padding: .3125rem; /* 5/16 */
          top: 0;
          right: 0;
        }
      }
      .img-pick-input-label{
        // text-align: center;
        display: block;
        // padding: 2.8125rem /* 45/16 */
    }
      .img-pick-input{
        display: none
      }
    }

    .categories{

    }

    .tags{

    }

    .intro{
      margin-top: 1.25rem /* 20/16 */;
      // height: 12.5rem /* 200/16 */;
  
    } 
  }
}

.show{
  display: block;
}

.show_anima{
  animation: showAnim;
  animation-direction: normal;
}

@keyframes showAnim {

  // 0%, 100%, 60%, 75%, 90% {
  //   transition-timing-function: cubic-bezier(0.215,.61,.355,1);
  // }

  0%{
    opacity: 0;
    transform:  translate(100%, 0)
  }

  60%{
    opacity: 1;
    transform:  translate(90%, 0)
  }

   75%{
    opacity: 1;
    transform:  translate(75%, 0)
  }

  90%{
    opacity: 1;
    transform:  translate(60%, 0)
  }

  100%{
    // background-color: red;
    opacity: 1;
    transform:  translate(0, 0)
  }
}

